.clients {
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-icon {
    fill: #afb1b8;
    width: 88px;
    height: 52px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-link:hover &,
    .clients-link:focus & {
    fill: $accent-color;
  }
  }
  &-link {
    @extend %flex-center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: $accent-color;
  }
  }
}
