.footer {
    padding: 60px 0;
    background-color: #2f303a;

    & .contacts-container {
      display: flex;
      flex-direction: column;
      margin-right: 70px;
    }
    
    &-address {
      display: flex;
      flex-direction: column;
    }
    & .link:not(:last-child) {
      margin-bottom: 9px;
    }
    &-mail-link,
    &-tel-link {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .maps {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: $classic-white;
  }
  
  .social-list {
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: $classic-white;
      margin-bottom: 20px;
    }
    .footer-social-container &-item:not(:last-child) {
      margin-right: 10px;
    }
    
    .footer-social-container &-link {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .footer-social-container &-link:hover,
    .footer-social-container &-link:focus {
      background-color: $accent-color;
    }
  
  }

  .footer-social-container .social-icon {
    fill: $classic-white;
  }
  
  .sign {

    &-to-news {
      margin-left: 93px;
    }

    &-label {
      margin-bottom: 20px;
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: $classic-white;
    }

    &-input {
      margin-right: 12px;
      padding: 15px;
      width: 358px;
      height: 50px;
      color: $classic-white;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
    }

    &-btn {
      display: inline-flex;
      align-items: center;
      padding: 10px 28px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      color: $classic-white;
      background: $accent-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-color: transparent;
  
      &::after {
        margin-left: 10px;
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../images/svg/icon-send.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
