.hero {
    background-color: #c4c4c4;
  }
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    text-align: center;
    padding: 200px 0;
  }
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $classic-white;
  }
  