.services-list {
    display: flex;
    justify-content: space-between;
  }
  /* .services-list-item:not(:last-child) {
    margin-right: 30px;} */
  .services-list-item {
    position: relative;
  }
  .services-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  
    text-align: center;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $classic-white;
  }