.projects-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .projects-btn-list-item:not(:last-child) {
    margin-right: 8px;
  }
  .projects-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: $classic-black;
    background-color: $secondary-background;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 20px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .projects-btn:hover,
  .projects-btn:focus {
    color: $classic-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }