.social-list {
    display: flex;
    justify-content: space-between;
    &-link {
      @extend %flex-center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
      background-color: $accent-color;
    }
    }
  }
  
  .social-icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list-link:hover &,
    .social-list-link:focus & {
    fill: $classic-white;
  }
  }
  
  