
$main-font: "roboto", serif;
$secondary-font: "raleway", sans-serif;
$accent-color: #2196f3;
$main-text-color: #757575;
$classic-black: #212121;
$secondary-background: #f5f4fa;
$classic-white: #ffffff;
